{% load static %}
<section id="aboutSection" class=" flex flex-col-reverse  md:flex-row  items-center justify-cente md:mt-10">
  <div class=" my-4 md:basis-1/2  flex-col m-auto items-center justify-center ">
    <h1 class=" text-center text-3xl font-bold">Who we are and What we do</h1>
    <p class="px-4 my-4">
      GetMealFast is a leading delivery service company based in Kuwait. We have
      built our foundation on the principles of affordability and quality,
      aiming to provide exceptional delivery services that cater to the diverse
      needs of our customers. <br />
      Founded by a team of brilliant and visionary entrepreneur engineers, we
      have harnessed our expertise to create a service that brings convenience,
      value, and satisfaction to the forefront. Our commitment to delivering
      top-notch service is ingrained in every aspect of our operations.
    </p>
  </div>
  <div class="px-4 md:w-1/2 text-center">
    <img src="{% static 'base/images/about2.jpg' %}" alt="" class="m-auto ">
  </div>
</section>
