{% load static %}

<div id ='faqs' class="space-y-4 mt-10">
  <h1 class="text-center text-lg font-semibold md:px-20   px-5">Frequently Asked Questions</h1>

    <details
      class="group rounded-lg bg-gray-50 p-6 dark:bg-gray-900 [&_summary::-webkit-details-marker]:hidden"
      open
    >
      <summary
        class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900 dark:text-white"
      >
        <h2 class="text-xl font-bold">
          How our Restaurant can take benefits of your services ?
        </h2>
  
        <span class="relative h-5 w-5 shrink-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 h-5 w-5 opacity-100 group-open:opacity-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
  
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 h-5 w-5 opacity-0 group-open:opacity-100"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </summary>
  
      <p class="mt-4 leading-relaxed text-gray-700 dark:text-gray-200">
        Our delivery service provides affordable and fast options for restaurants to reach a wider customer base, increase customer satisfaction, reduce operational costs, and gain exposure through our platform. We offer data insights to help make informed decisions for improved marketing and revenue.
      </p>
    </details>
  
    <details
      class="group rounded-lg bg-gray-50 p-6 dark:bg-gray-900 [&_summary::-webkit-details-marker]:hidden"
    >
      <summary
        class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900 dark:text-white"
      >
        <h2 class="text-xl font-bold">
          How I can create account to place an order ?
        </h2>
  
        <span class="relative h-5 w-5 shrink-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 opacity-100 group-open:opacity-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
  
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 opacity-0 group-open:opacity-100"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </summary>
  
      <p class="mt-4 leading-relaxed text-gray-700 dark:text-gray-200">
        To get started with our company, you can reach out to us in different ways: through our website, by email, or by calling our customer service line. Our friendly representative will assist you in creating your account. They may ask for some extra details or verification to keep your account secure. Once your account is set up, we will provide you with login credentials so you can start placing orders
      </p>
    </details>
  </div>
  