{% load static %}
<section class="p-4 lg:p-8  text-gray-900">
	<div class="container mx-auto space-y-12">
		<div class="flex flex-col overflow-hidden  shadow-sm lg:flex-row">
			<img src="{% static 'base/images/mission.jpg' %}" alt="" class="h-80 bg-gray-500 aspect-video">
			<div class="flex flex-col justify-center flex-1 p-6 ">
								<h3 class="text-3xl font-bold">Our Mission</h3>
				<p class="my-6 text-gray-700">At GetMealFast , our mission is to revolutionize the restaurant industry by providing exceptional and lightning-fast delivery services. We strive to bridge the gap between restaurants and their customers, ensuring that every order is delivered promptly and affordably. Our relentless dedication to efficiency and customer satisfaction drives us to exceed expectations and redefine the standards of food delivery.</p>
					</div>
		</div>
		<div class="flex flex-col overflow-hidden  shadow-sm lg:flex-row-reverse">
			<img src="{% static 'base/images/vision.jpg' %}" alt="" class="h-80 bg-gray-500 aspect-video">
			<div class="flex flex-col justify-center flex-1 p-6 ">
			
				<h3 class="text-3xl font-bold">Our Vision</h3>
				<p class="my-6 text-gray-800">Our vision is to be the leading provider of fast and affordable delivery services, empowering restaurants to reach a wider audience and delight their customers. We envision a future where every restaurant can rely on our seamless delivery solutions to expand their business and enhance their customer experience. Through innovation, technology, and a relentless pursuit of excellence, we aim to reshape the restaurant delivery landscape, one order at a time.</p>
				
			</div>
		</div>

	</div>
</section>