{% load static %}

<div id="partnerSection" class="my-10">
  <h1 class="text-center text-xl font-semibold md:px-20 px-5">
    Let's work together as partners or as riders
  </h1>
  <p class="my-5 md:px-20 text-justify md:text-left px-5">
    Experience the future of restaurant deliveries with our cutting-edge
    services. We specialize in providing fast and affordable delivery solutions,
    ensuring that orders reach their destinations promptly and efficiently.
    Moreover, we offer exciting job opportunities to individuals as delivery
    personnel, empowering them to become part of our dynamic team. Let's partner
    up or ride along for a revolutionized delivery experience
  </p>
</div>
<div class="md:flex justify-around">
  <div
    class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md m-auto"
  >
    <div
      class="relative mx-4 -mt-6 h-56 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40"
    >
      <img
        src="{% static 'base/images/parner1.jpg' %}"
        alt="img-blur-shadow"
        layout="fill"
      />
    </div>
    <div class="p-6">
      <h5
        class="mb-2 block text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
      >
        Partner with us
      </h5>
      <p
        class="block text-base font-light leading-relaxed text-inherit antialiased"
      >
        Partner with us to expand your reach, enhance customer satisfaction, and
        seize new growth opportunities. Let's shape the future together. Join
        now
      </p>
    </div>
    <div class="p-6 pt-0">
      <a
        href="#contactSection"
        class="select-none rounded-lg bg-dash-back py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        data-ripple-light="true"
      >
        Reach Out
      </a>
    </div>
  </div>
  <div
    class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md m-auto mt-20 md:mt-0"
  >
    <div
      class="relative mx-4 -mt-6 h-56 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40"
    >
      <img
        src="{% static 'base/images/delv.jpg' %}"
        alt="img-blur-shadow"
        layout="fill"
      />
    </div>
    <div class="p-6">
      <h5
        class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
      >
        Ride With Us
      </h5>
      <p
        class="block text-base font-light leading-relaxed text-inherit antialiased"
      >
        Ready for an exciting journey? Join our dynamic team as a delivery rider
        and be part of the revolution in restaurant deliveries.
      </p>
    </div>
    <div class="p-6 pt-0">
      <a
        href="#contactSection"
        class="select-none rounded-lg bg-dash-back py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        data-ripple-light="true"
      >
        Reach Out
      </a>
    </div>
  </div>
</div>
