
# Python/Django
node_modules
__pycache__/
*.py[cod]
*.sqlite3
node_modlues
# Virtual Environment
venv/

# Local development settings
local_settings.py

# IDE-specific files
.vscode/
.idea/
*.pydevproject

# Compiled files
*.pyc
*.pyo
*.pyd

db.sqlite3

