# Python/Django
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/

# Local development settings
local_settings.py

# IDE-specific files
.vscode/
.idea/
*.pydevproject

# Compiled files
*.pyc
*.pyo
*.pyd
