<!-- outer wrapper -->
{% extends 'base/admindashboard/panel.html' %}
{% load static }
{% block title %} Dashboard {% endblock %}
{% block content %}

{% if messages %}
<ul class="messages mx-10">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      <div class="border rounded text-sm p-4 flex justify-between
          {% if message.tags == 'success' %}
            border-green-400 text-green-800
          {% else %}
            border-red-400 text-red-800
          {% endif %}
      bg-white">
        <div>
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2
                  {% if message.tags == 'success' %}
                    text-green-600
                  {% else %}
                    text-red-600
                  {% endif %}
              "
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                clip-rule="evenodd"
              />
            </svg>
            <p>
              <span class="font-bold
                  {% if message.tags == 'success' %}
                    text-green-600
                  {% else %}
                    text-red-600
                  {% endif %}
              ">
                {% if message.tags == 'success' %}
                  Success:
                {% else %}
                  Error:
                {% endif %}
              </span>
              {{ message }}
            </p>
          </div>
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6
                {% if message.tags == 'success' %}
                  text-green-600
                {% else %}
                  text-red-600
                {% endif %}
            "
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
<script>
    // JavaScript code to hide the success message after 2 seconds
    setTimeout(function () {
        var messagesContainer = document.querySelector(".messages");
        if (messagesContainer) {
            messagesContainer.style.display = "none";
        }
    }, 2000);  // 2000 milliseconds = 2 seconds
</script>
{% endif %}

{% include 'base/admindashboard/logout.html'  %}





<main class="p-6 sm:p-10 space-y-6 bg-dash-back text-white m-2 border border-border-color">
  <div
    class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between"
  >
    <div class="mr-6 ">
      <h1 class="text-4xl font-semibold mb-2">Order summary</h1>
    </div>
  </div>
  <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-6 bg-dash-back ">
    <div
      class="flex items-center p-8 bg-dash-back border-border-color border shadow rounded-lg"
    >
      <div>
        <span class="block text-md font-bold">PENDING ORDERS</span>
        <span class="block text-md font-bold">{{pending}}</span>
        <span class="block text-white"
          >There are {{pending}} orders yet to be delivered.</span
        >
      </div>
      <div
        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-white bg-secondry-light rounded-full mr-6 border-border-color border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </div>
    </div>
    <div
      class="flex items-center p-8 bg-dash-back border-border-color border shadow rounded-lg"
    >
      <div>
        <span class="block text-md font-bold">OUT FOR DELIVERY</span>
        <span class="block text-md font-bold">{{outfor}}</span>
        <span class="block text-white"
          >A total of {{outfor}} is on its way for delivery.</span
        >
      </div>
      <div
        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-white bg-secondry-light rounded-full mr-6 border-border-color border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
          />
        </svg>
      </div>
    </div>
    <div
      class="flex items-center p-8 bg-dash-back border-border-color border shadow rounded-lg"
    >
      <div>
        <span class="block text-md font-bold">DELIVERED ORDERS</span>
        <span class="block text-md font-bold">{{delivered}}</span>
        <span class="block text-white"
          >A total of {{delivered}} orders have been delivered.</span
        >
      </div>
      <div
        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-white bg-secondry-light rounded-full mr-6 border-border-color border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          />
        </svg>
      </div>
    </div>
    <div
      class="flex items-center p-8 bg-dash-back border-border-color border shadow rounded-lg"
    >
      <div>
        <span class="block text-md font-bold">TOTAL ORDERS</span>
        <span class="block text-md font-bold">{{total_orders}}</span>
        <span class="block text-white"
          >You have made a total of {{total_orders}} orders so far.</span
        >
      </div>
      <div
        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-white bg-secondry-light rounded-full mr-6 border-border-color border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </div>
    </div>
  </section>
</main>

<div class="p-5 m-2 max-w-fit bg-dash-back border border-border-color">

  <div
    class="max-h-96 overflow-y-scroll m-5 max-w-xs md:max-w-xl lg:max-w-3xl xl:max-w-screen-xl  overflow-x-auto"
  >
    <!-- Table -->
    <table
      class="border-collapse border-spacing-0 "
    >
    
      <th class=" bg-secondry-light text-white uppercase p-2 min-w-fit whitespace-nowrap overflow-hidden">
        Restaurant NAME
      </th>
        <th class=" bg-secondry-light text-white uppercase p-2 min-w-fit whitespace-nowrap overflow-hidden">
        Booking Time
      </th>
      <th class="bg-secondry-light text-white uppercase p-2 whitespace-nowrap overflow-hidden">
        Customer name
      </th>
      <th class=" bg-secondry-light text-white uppercase p-2 whitespace-nowrap overflow-hidden">
        Item NAME
      </th>
      <th class=" bg-secondry-light text-white uppercase p-2 whitespace-nowrap overflow-hidden">
        Phone number
      </th>
      <th class=" bg-secondry-light text-white uppercase p-2 whitespace-nowrap overflow-hidden">
        Order number
      </th>
      <th class="bg-secondry-light text-white uppercase p-2 whitespace-nowrap overflow-hidden">
        Price
      </th>
      <th class=" bg-secondry-light text-white uppercase p-2 whitespace-nowrap overflow-hidden">
        Location
      </th>
      <th class=" bg-secondry-light text-white uppercase p-2 whitespace-nowrap overflow-hidden">
        Payment type
      </th>
      <th class=" bg-secondry-light text-white uppercase p-2 whitespace-nowrap overflow-hidden">
        Status
      </th>
      <th class=" bg-secondry-light text-white uppercase p-2 whitespace-nowrap overflow-hidden">
        Update
      </th>
      <th class=" bg-secondry-light text-white uppercase p-2 whitespace-nowrap overflow-hidden">
       Share
      </th>
      <th class=" bg-secondry-light text-white uppercase p-2 whitespace-nowrap overflow-hidden">
        Remove
      </th>
    </thead>
    

    {% for order in orders %}
    <tr class="border-b border-border-color py-8 text-white" data-field1="{{  order.restaurant.name  }}" data-field2="{{ order.customer_name}}">
      <td class="px-2 py-4 text-center">{{ order.restaurant.name }}</td>    
      <td class="px-2 py-4 text-center w-fit">{{ order.booking_time }}</td>
      <td class="px-2 py-4 text-center">{{ order.customer_name }}</td>
      <td class="px-2 py-4">{{ order.item_name }}</td>
      <td class="px-2 py-4 text-center">{{ order.phone_number }}</td>
      <td class="px-2 py-4 text-center">{{ order.amount }}</td>
      <td class="px-2 py-4 text-center">{{ order.order_number }}</td>
      <td class="px-2 py-4 overflow-hidden">{{ order.address }}</td>
      <td class="px-2 py-4 text-center">{{ order.prepaid_postpaid }}</td>
      <td class="px-2 py-4 text-center">{{ order.status }}</td>

      <!-- Perform update opration -->
      <td class="px-2 py-4 text-center ">
        
        <a href="{% url 'update-status' order.id %}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
</svg>

        </a>

      
      </td>





      <td class=" px-2 py-4 text-center"><button class="share-button"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
      </svg>
      <span class='sr-only'> share </span>
      </button></td>
      <td class="px-2 py-4 text-center"><a href="{% url 'delete-order' order.id %}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
        

      </a></td>

    </tr>
    {% endfor %}
                
    </table>

  </div>


</div> 

{% endblock %}