{% extends 'base/admindashboard/panel.html' %} {% load static %} 
{% block title %} Register New User{% endblock %}
{% block content %}


{% if messages %}
<ul class="messages mx-10">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      <div class="border rounded text-sm p-4 flex justify-between
          {% if message.tags == 'success' %}
            border-green-400 text-green-800
          {% else %}
            border-red-400 text-red-800
          {% endif %}
      bg-white">
        <div>
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2
                  {% if message.tags == 'success' %}
                    text-green-600
                  {% else %}
                    text-red-600
                  {% endif %}
              "
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                clip-rule="evenodd"
              />
            </svg>
            <p>
              <span class="font-bold
                  {% if message.tags == 'success' %}
                    text-green-600
                  {% else %}
                    text-red-600
                  {% endif %}
              ">
                {% if message.tags == 'success' %}
                  Success:
                {% else %}
                  Error:
                {% endif %}
              </span>
              {{ message }}
            </p>
          </div>
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6
                {% if message.tags == 'success' %}
                  text-green-600
                {% else %}
                  text-red-600
                {% endif %}
            "
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
<script>
    // JavaScript code to hide the success message after 2 seconds
    setTimeout(function () {
        var messagesContainer = document.querySelector(".messages");
        if (messagesContainer) {
            messagesContainer.style.display = "none";
        }
    }, 5000);  // 2000 milliseconds = 2 seconds
</script>
{% endif %}


<div
  class="min-w-screen min-h-screen flex items-center justify-center px-5 py-5 m-2 bg-dash-back border border-border-color"
>
  <div
    class="bg-dash-back text-white  shadow-xl w-full overflow-hidden"
  >
    <div class="md:flex w-full">
      <div class="hidden md:block w-1/2 bg-dash-back pl-5">
        <img src="{% static 'base/images/login.jpg' %}" class="h-auto w-full  rounded-bl-md rounded-tl-md"  alt="">
      </div>
      <form method="post" action="" class="w-full md:w-1/2 py-10 px-5 md:px-10 border border-white">
        {% csrf_token %}
        <div class="text-center mb-10">
          <h1 class="font-bold text-3xl text-white">REGISTER</h1>
          <p>Enter your information to register</p>
        </div>
        <div>
            <div class="flex -mx-3">
                <div class="w-full px-3 mb-3">
                  <label for="username" class="text-md px-1 mb-6">Username</label>
                  <div class="flex">
                    <div
                      class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
                    >
                      <i class="mdi mdi-email-outline text-white text-lg"></i>
                    </div>
                    <input
                      type="text"
                      name="username"
                      class="w-full -ml-10 pl-10 pr-3 py-2  border border-border-color  focus:ring-hover-green focus:border-0 bg-dash-back"
                      placeholder="Enter username"
                      required
                    />
                  </div>
                </div>
              </div>
               <div class="flex -mx-3">
            <div class="w-full px-3 mb-3">
              <label for="id_email" class="text-md px-1 mb-6">Email</label>
              <div class="flex">
                <div
                  class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
                >
                  <i class="mdi mdi-email-outline text-white text-lg"></i>
                </div>
                <input
                  type="email"
                  id="id_email"
                  name="email"
                  class="w-full -ml-10 pl-10 pr-3 py-2  border border-border-color  focus:ring-hover-green focus:border-0 bg-dash-back"
                  placeholder="john@gmail.com"
                  required
                />
              </div>
            </div>
          </div> <div class="flex -mx-3">
            <div class="w-full px-3 mb-3">
              <label for="id_password1" class="text-md px-1 mb-6">Password</label>
              <div class="flex">
                <div
                  class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
                >
                  <i class="mdi mdi-email-outline text-white text-lg"></i>
                </div>
                <input
                  type="password"
                  name="password1"
                  id="id_password1"
                  class="w-full -ml-10 pl-10 pr-3 py-2  border border-border-color  focus:ring-hover-green focus:border-0 bg-dash-back"
                  placeholder="*****"
                />
              </div>
            </div>
          </div> <div class="flex -mx-3">
            <div class="w-full px-3 mb-12">
              <label for="id_password2" class="text-md px-1 mb-6">Confirm Password</label>
              <div class="flex">
                <div
                  class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
                >
                  <i class="mdi mdi-email-outline text-white text-lg"></i>
                </div>
                <input
                  type="password"
                  name="password2"
                  id="id_password2"
                  class="w-full -ml-10 pl-10 pr-3 py-2  border border-border-color  focus:ring-hover-green focus:border-0 bg-dash-back"
                  placeholder="*******"
                />
              </div>
            </div>
          </div>
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <button
              type="submit"
                class="block w-full max-w-full mx-auto bg-light-green hover:bg-hover-green focus:bg-hover-green text-white rounded-sm px-3 py-3 font-semibold"
              >
                REGISTER NOW
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
