{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% tailwind_css %}
  </head>
<body>
   <div class="p-5 m-2 w-full bg-dash-back border border-border-color">
  <!-- table wrapper -->
  <div
    class="h-screen overflow-y-scroll w-11/12 "
  >
    <!-- Table -->
    <table
      class="border-collapse border-spacing-0 min-w-[max-content]"
    >
    <thead>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Restaurant NAME
      </th>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Customer name
      </th>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Item NAME
      </th>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Phone number
      </th>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Order number
      </th>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Price
      </th>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Location
      </th>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Payment type
      </th>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Status
      </th>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Update
      </th>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Remove
      </th>
      <th class="sticky top-1 bg-secondry-light text-white uppercase py-2">
        Share
      </th>
    </thead>
    <tr class="border-b border-border-color py-8">
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
    </tr>
    <tr class="border-b border-border-color py-8">
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
    </tr>
    <tr class="border-b border-border-color py-8">
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
      <td class="px-2 py-4 text-white">
        should be longest title
      </td>
    </tr>
    

    </table>
  </div>
</div> 
</body>
</html>