
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static tailwind_tags %}
    {% tailwind_css %} 
     <title>UPDATE</title>
</head>
<body>
    <div
  id="updateForm"
  class=" min-h-full w-full absolute bg-gray-400 top-0 bg-opacity-50 font-mono"
>
  <div
    class="h-60 w-1/2 bg-dash-back border-gray-50 absolute top-1/4 right-1/4"
  >
    <form method="post" action="">
      {% csrf_token %}
      <div class="-mx-3">
        <div class="min-w-fit w-1/2 mx-auto mt-4 px-3 mb-5">
          <select
            name="status"
            id="status"
            class="block w-full bg-dash-back text-white rounded-sm px-3 py-3 font-semibold"
          >
            <option value="Pending">Pending</option>
            <option value="Delivered">Delivered</option>
            <option value="out for delivery">Out For Delivery</option>
            <option value="Cancelled">Cancelled</option>
          </select>
        </div>
        <div class="mx-10 w-auto mt-4 px-3 mb-5">
          <button
            id="submitBtn"
            type="submit"
            class="block w-full max-w-full mx-auto bg-light-green hover:bg-hover-green focus:bg-hover-green text-white rounded-sm px-3 py-3 font-semibold"
          >
            UPDATE
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- myapp/popup.html -->

</body>
</html>
